{% extends 'base.html' %}
{% block main %}

<div 
class="card p-5" 
style="width: auto; margin-left:100px; margin-right:100px; margin-top:25px;">
    <div class="row no-gutters">
      <div class="col-md-3">
        <img src="{{ url_for('static', filename='ppictures/default-male.png') }}" class="card-img" alt="profile-picture">
      </div>
      <div class="col-md-9">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <div class="text-secondary">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
          
        </div>
      </div>
    </div>

    <div class="mt-5">
        <h3 class="text-muted">About Me</h3>
        <p>Some text</p>
        <div class="d-flex justify-content-center">
          <button type="button" class="btn btn-success w-25" id="msgbtn">Send Message</button>
          <div class="ml-4 mr-4"></div>
          <button type="button" class="btn btn-primary w-25" id="followbtn">Follow</button>
        </div>
        
    </div>
  </div>

  {% endblock %}